DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
DEV=

ADMIN_LOG_CHANNEL_ID=
LOG_CHANNEL_ID=
NOTIFICATION=
MUTE_ROLE=

ADMIN_ROLES_LEVEL_0=
ADMIN_ROLES_LEVEL_1=
ADMIN_ROLES_LEVEL_2=
ADMIN_ROLES_LEVEL_3=
ADMIN_ROLES_LEVEL_4=

SQLITE_DB_PATH=data/core.sqlite
DISABLED_COMMAND_CATEGORIES=global
DISABLED_COMMANDS=

LEVELS_ENABLED=true
VOICE_TRACKING_ENABLED=true
LEVEL_ROLE_MAP=
MODERATION_SWEEP_INTERVAL_MS=60000
WARN_PUNISHMENTS=2:mute:30m,4:mute:2h,6:mute:5h,7:mute:10h,8:ban:1d,10:ban:10d,12:ban:31d,14:ban:183d,16:ban:365d

BOT_STATUS=online
BOT_ACTIVITY_TYPE=Watching
BOT_ACTIVITY_TEXT=self-hosted moderation

WELCOME_DM_ENABLED=false
WELCOME_DM_JSON=
WELCOME_SERVER_ENABLED=false
WELCOME_SERVER_CHANNEL_ID=
WELCOME_SERVER_JSON=

SQL_BACKUP_ENABLED=true
SQL_BACKUP_CHANNEL_ID=
SQL_BACKUP_DEBOUNCE_MS=1500
